* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.head {
  display: flex;
  justify-content: center;
  height: 58px;
  border-bottom: 1px solid #eaeaea;
}

.sub-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 94%;
  height: 100%;
}

.links {
  .sns {
    width: 104px;
    padding-left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .sns-icon {
      fill: #fff;
      background-color: #7d7d7d;

      width: 30px;
      height: 30px;

      border-radius: 100%;
      padding: 7.5%;

    }
  }
}

.short-cut {
  ul {
    color: #9b9a9a;
    display: flex;
    list-style-type: none;
    font-size: 11px;
  }

  li {
    white-space: nowrap;
    display: flex;

    a {
      color: #9b9a9a;
      text-decoration: none;
    }

    &+li::before {
      content: "|";
      margin: 0 7px;
    }
  }
}




.nav-wrapper {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav {
    max-width: 1400px;
    width: 94%;
    height: 100%;

    ul {
      color: #303030;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      font-size: 17px;
      height: 100%;
      padding: 0;
      margin: 0;

      li {
        white-space: nowrap;
      }

      a {
        color: #303030;
        text-decoration: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 15px;
          height: 100%;
        }

        &:hover {
          li {
            color: #c40f39;
            border-bottom: 2px solid #c40f39;
            padding-bottom: 1px;
            height: calc(100% - 1px);
            margin-bottom: 1px;
          }
        }
      }
    }
  }

  .sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    float: none;
    max-width: 1450px;
    width: 66px;

    .btn_all {
      width: 19px;
    }

    .icon {
      height: 19px;
      fill: #353535;
    }
  }
}

.visual {
  background-image: url(http://www.monami.com/images/main/visual1.jpg);
  height: 652px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: center;
  align-items: center;

  .visual-text {
    width: 80%;
    font-size: 50px;

    .text-upper-line {
      margin: 0 0;
      width: 1.75em;
      border: 1px solid white;
      border-top: none;
    }

    .display-1 {
      color: #fff;
      line-height: 120%;
      font-weight: 200;
    }

    .display-2 {
      font-size: 15px;
      color: rgba(255, 255, 255, 0.8);
      line-height: 140%;
      font-weight: 300;
    } 
  }
}

.mt-2 {
  margin-top: 30px;
}

.mt-3 {
  margin-top: 20px;
}